
<h1 id="name" style="text-align: center"> Welcome <%= current_user.full_name %></h1>

<h1>View your trips</h1>
<hr />
<div class="ui grid">
  <% @trips.each do |trip| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
   
   
      <div class="ui card">
       
        <div class="content">
          <%= link_to "#{trip.name}", trip, class: "ui button trip_name"%>
        </div>
         <div class = "description">
        <%trip.locations.each do |l| %>
            <h4 style = "text-align: center;"><%=l.name%></h4>
        <%end%>
      </div>
        <div class="extra content">
          <div class="two_buttons">
              <%= link_to(edit_trip_path(trip)) do %>
            <div class="ui  green button inverted">
            Edit
            </div>
            <%end%>
              <%= link_to(trip_path(trip) , method: :delete, data: {confirm: "are you sure?"}) do%>
            <div class="ui red button inverted">
              Delete
            </div>
            <%end%>
            
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<h4>feeling adventurous? click here to get 5 random trips</h4>

<h4>view all trips</h4>
