<h1><%= @trip.name %></h1>
<hr />

<h1>Location Location Location</h1>
<%= link_to "Where to Next?", new_trip_location_path(@trip), class: "ui button" %>
<ul>
  <% @trip.locations.each do |location| %>
    <li><%= link_to location.name, trip_location_path(@trip, location) %></li>
  <% end %>
</ul>


<div class ="button_div">
<%= link_to "View Locations", trip_locations_path(@trip), class: "ui button" %>
<br />
<%= link_to "Edit Trip", edit_trip_path(@trip), class: "ui button" %>
<br />
<%= link_to "Delete Trip", trip_path(@trip.id), class: "ui button", method: :delete %>
</div>