<h1><%= @trip.name %></h1>
<hr />

<h1>Location Location Location</h1>
<%= link_to "Where to Next?", new_trip_location_path(@trip), class: "ui button" %>
<div class = "ui grid">
  <% @trip.locations.each do |location| %>
<%#= link_to location.name, trip_location_path(@trip, location) %>
<div class="sixteen wide mobile eight wide tablet four wide computer column">
  <div class= "ui card">
    <div class = "content">
      <%= link_to "#{location.name}", trip_location_path(@trip, location), class: "ui button location_name" %>
      </div>
      <div class = "description">
          <%= location.address.street%>
        </div>
        <div class= "extra content">

        </div>




      </div>
    </div>
  <% end %>

</div>

<h1>reviews</h1>
<%= link_to 'add review', new_trip_review_path(@trip), class: "ui button" %>
<hr />

<% @trip.reviews.each do |review| %>

<%= render 'reviews/review', {review: review } %>


<% end %>

<div class ="button_div">

<%= link_to "Edit Trip", edit_trip_path(@trip), class: "ui button" %>
<br />
<%= link_to "Delete Trip", trip_path(@trip.id), class: "ui button", method: :delete %>
</div>
