
<div style= "display:flex; flex-direction: column; justify-content: center;">
<h2 style= " letter-spacing:6px;text-align:center; ">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
   
    <%= f.email_field :email, placeholder: "email",class: "log_in_input", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <br />
    <%= f.password_field :password,placeholder: "password",class: "log_in_input", autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "myButton" %>
  </div>
<% end %>

<%= render "devise/shared/links", style: "text-align:center" %>
</div>
