<h1><%= @review.id ? "Edit review" : "Create review" %></h1>
<hr />
<%= form_with(model: [@trip, @review ], local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body, required: true, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author, class: "input" %>
  </div>

  <%= f.submit nil, class: "ui blue button" %>
<% end %>
