<h1><%= @location.id ? "Edit Location" : "Create Location" %></h1>
<hr />
<%= form_for [@trip, @location] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />
  <%= f.label :image %>
  <%= f.text_field :image %>
  <br />
  <%= f.label :fees %>
  <%= f.text_field :fees %> 
  <%= f.submit %>
<% end %>