<h1><%= @trip.name %> - <%= @location.name %></h1>
<p><%= @location.image %></p>
<p><%= @location.fees %></p>

<%# @location.address.street %>


<div></div>
<%= link_to "Edit Location", edit_trip_location_path([@trip, @location]) %>
<%= link_to "Delete Location", trip_location_path(@trip, @location), method: :delete %>
<%= link_to "Back to All Locations", trip_locations_path(@trip) %>
<%# @client %>