

<div style = "display:flex;">




<div class="ui card">
  <div class="content">
    <div class="center aligned header">
<h1><%= @location.name %></h1>
</div>
    <div class="center aligned description">
    <%= @location.address ? @location.address.street : "" %>
    <%= @location.address ? @location.address.city : "" %>
    <%= @location.address ? @location.address.state : "" %><br/><br/>
      <p>Lat<% @location.address ? @location.address.lat : "" %></p><p>long
      <% @location.address ? @location.address.long : "" %></p>
      <p><%= @location.image %></p>
<p><%= @location.fees %></p>
    </div>
  </div>
  <div class="extra content">
    <div class="center aligned author">
      <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> <%=@trip.name%>
    </div>
  </div>
</div>

<%= @spot %>






<div class= "buttons_div">

<%= link_to "Back to Locations", trip_locations_path(@trip), class: "ui button blue" %>
<%= link_to "Add Address", new_location_address_path(@location), class: "ui button green" %>
<%= link_to "Edit Address", edit_location_address_path(@location,@location.address.id), class: "ui button yellow" %>
<%= link_to "Back to All Locations", trips_path(@trip), class: "ui button green"%>

<%= link_to "Edit Location", edit_trip_location_path([@trip, @location]), class: "ui button inverted blue" %>
<%= link_to "Delete Location", trip_location_path(@trip, @location), class: "ui button inverted red", method: :delete %>
</div>