<!DOCTYPE html>
<html>
  <head>
    <title>TripsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= render partial: 'layouts/navbar' %>
=======
  <%= render "layouts/navbar"%>
  <div class = "ui container">
>>>>>>> 230fad110574d532eb41e3b2008f5a1c50bb9c0c
    <%= yield %>
    </div>
  </body>
</html>
